/*.topbar {
  width: 100%;
  height: 60px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.topbar h1 {
  margin: 0;
  font-size: 24px;
}

.topbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.topbar-links a:hover {
  text-decoration: underline;
}*/

.topbar {
  width: 100%;
  height: 60px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.search-container {
  flex: 1;
}

.search-input {
  width: 100%;
  max-width: 300px;
  padding:  12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left:30rem;
}

.topbar-right {
  display: flex;
  align-items: center;
}

.notification {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.notification::after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

